body{
    background-color: #E0E0E0;
    font-family: 'Alegreya Sans', sans-serif;
}

.page-body{
  margin-left: 130px;
}
#cthulhu-card{
  width: 300px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px #888;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  background-color: white;
}
#yog-card{
  width: 300px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px #888;
  margin-right: 10px;
  float:left;
  background-color: white;
}
#nyarlathotep-card{
  width: 300px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px #888;
  float: left;
  background-color: white;
}
.cthulhu-header{
  text-align: center;
}

.text{
  margin-left: 10px;
  margin-right: 10px;
}
h2{
  font-size: 120%;
}

.lovecraft-header{
  text-align: center;
}

.nav{
  height: 50px;
  width: 100%;
  background-color: #161513;
  margin-top: -20px;
  color: white;
}
